<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Contact Detail</h1>
    <form method="POST", action="/contactUniqueDetailPut", enctype="application/x-www-form-urlencoded">
        <!-- <form> -->
        <label for="Name">Name</label>
        <input type="text" id="name" name="name" value="<%=contactName %>" />
        <label for="Job">Job</label>
        <input type="text" id="job" name="job" value="<%=contactJob %>" />
        <label for="Tel">Tel</label>
        <input type="text" id="tel" name="tel" value="<%=contactTel %>" />
        <label for="Mail">Mail</label>
        <input type="email" id="mail" name="mail" value="<%=contactMail %>" />
        <label for="id">Mail</label>
        <input type="hidden" id="id" name="id" value="<%=contactId %>" />
        <button type="submit" id="submit">Modify</button>
    </form>
    <button type="button"><a href="/contactUniqueDetailDelete?id=<%=contactId %>">Delete</a></button>
    </body>
</html>