<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>My contact</h1>
        <div>
            <nav>
                <% listContact.forEach(function(element) { %>
                    <li><a onclick=""><%=element %></a></li>
                <% }) %>
            </nav>
        </div>
    </body>
</html>