<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Register contact</h1>
        <form method="POST", action="/registerPOST", enctype="application/x-www-form-urlencoded">
            <label for="name">Name</label>
            <input type="text" name="Name">
            <label for="job">Job</label>
            <input type="text"  name="Job">
            <label for="tel">Tel</label>
            <input type="text" size="10" name="Tel">
            <label for="mail">Mail</label>
            <input type="email" id="mail" name="Mail">
            <button type="submit" id="submit">Submit</button>
        </form>
    </body>
    <script>
    </script>
</html>